.DS_Store
.idea/

repositories/*
vendor/*
var/*

.env
.env.local
.env.*.local
.gitlab-ci.yml
.travis.yml
.editorconfig
.phpunit.result.cache

.git/
.gitattributes
.gitignore


*.md

.dockerignore
Dockerfile
docker-compose.*.yml
