{% extends 'loggedIn.twig' %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Set</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for set in sets %}
                <tr>
                    <td>{{ set.title }}</td>
                    <td>
                        {% if activationChecker.setActiveForRepository(set, gitRepository) %}
                            <a href="#">Deactivate</a>
                        {% else %}
                            <a href="#">Activate</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
