{% extends 'base.twig' %}

{% block body %}
    <h1>Welcome to Rector CI</h1>

    <h2>Rector CI is currently being very intensively developed and tested!</h2>

    <p>For more informations about Rector itself or to apply for Rector CI, please visit <a href="https://getrector.org">getrector.org</a> or contact me directly at <a href="mailto:honza@getrector.org">honza@getrector.org</a>.</p>

    <a href="{{ path('github_authorization') }}">Sign with Github</a>
{% endblock %}
