
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Rector CI">
    <meta name="keywords" content="Rector, CI, Continuous Integration, Refactoring, Legacy, Code">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Getrector.org">

    <title>{% block title %}Rector CI{% endblock %}</title>
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
</head>
<body>

    {% block navigation %}{% endblock %}
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
