{% extends 'loggedIn.twig' %}

{% block body %}
    Hello user!

    {% if is_granted(constant('Rector\\RectorCI\\User\\Security\\UserRole::BETA_TESTER')) %}
        {% for repository in installedRepositories %}
            <p>
                <a href="{{ path('github_repository_detail', {githubRepositoryId: repository.id}) }}">
                    [Installed]
                    {{ repository.full_name }}
                </a>
            </p>
        {% endfor %}

        {% for repository in repositories %}
            <p>
                <a href="{{ path('github_repository_detail', {githubRepositoryId: repository.id}) }}">
                    {{ repository.full_name }}
                </a>
            </p>
        {% endfor %}
    {% else %}
        <p>You do not have access to private beta testing. Please contact us on honza@getrector.org</p>
    {% endif %}

{% endblock %}
