{% extends 'base.twig' %}

{% block body %}
    Hello user!

    {% for repository in installedRepositories %}
        <p>
            {{ repository.full_name }} (installed) <button>Detail</button>
        </p>
    {% endfor %}

    {% for repository in repositories %}
        <p>
            {{ repository.full_name }} <button>install</button>
        </p>
    {% endfor %}

    {% if is_granted('ROLE_BETA_TESTER') %}
        - List of repositories
    {% else %}
        <p>You do not have access to private beta testing. Please contact us on honza@getrector.org</p>
    {% endif %}
{% endblock %}
